@import "tailwindcss";

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Badge styles */
.badge {
  display: inline-flex;
  align-items: center;
  padding: 0.125rem 0.625rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}

.badge-pending {
  background-color: rgb(243 244 246);
  color: rgb(31 41 55);
}

.badge-processing {
  background-color: rgb(254 249 195);
  color: rgb(161 98 7);
}

.badge-completed {
  background-color: rgb(220 252 231);
  color: rgb(22 101 52);
}

.badge-failed {
  background-color: rgb(254 226 226);
  color: rgb(153 27 27);
}

.severity-low {
  background-color: rgb(219 234 254);
  color: rgb(30 64 175);
}

.severity-medium {
  background-color: rgb(255 237 213);
  color: rgb(154 52 18);
}

.severity-high {
  background-color: rgb(254 226 226);
  color: rgb(153 27 27);
}
